{% extends 'app_menu/base.html' %}

{% block title %}
Sobre Nosotros...
{% endblock title %}


{% block title_menu %}
Gracias por visitar nuestra web
{% endblock title_menu %}

{% block content %}

<style>

    p{
        color: white;
    }
      
    div.boton{
        text-align: center;
    
      
    }

</style>


<div class="row mt-5">

    <div class="col-sm-6 col-md-4"></div>   
        
        <div class="col-sm-6 col-md-3">



<p>¡BIENVENIDOS A NUESTRA PRIMERA PÁGINA WEB!
    <br>
    <br>
    Primero que nada vamos a presentarnos. Somos Clara Correa Luna, Cristian Honig y Cristian Torales.
    Somos estudiantes del Curso de Python en Coderhouse aplicando nuestro conocimiento adquirido en
    esta página web.
    <br>
    <br> Creamos este sitio en base a una sola cosa... ¿qué es lo que más nos gusta? Y esa pregunta
    se respondió muy rápido. LA COMIDA.
    <br>
    <br>En esta página podrán ver en la página de Inicio, nuestro menú principal donde podrán observar los diferentes listados a los que
    podrán acceder y conocer nuestra carta.
    <br>En cada una de las categorías que se pueden observar en el menú principal (Bebidas, Entradas, Platos y Postres),
    podrán acceder a la lista que tenemos por categoría con su respectivo precio e imagen ilustrativa.
    Asimismo si lo desean podrán volver al Inicio para seguir explorando otras categorías.
    <br>
    <br>
    Para ponerse en contacto con nosotros, por una consulta o realizar una reserva, pueden realizarlo
    desde la sección "Contacto" incluyendo sus datos y nos pondremos en contacto en el menor tiempo posible con ustedes.
    <br>
    <br>
    IMPORTANTE
    <br> 
    La sección "Registrate" es solo para nuestros nuevos empleados para que puedan tener acceso a nuestro propio contenido y poder editarlo en caso de ser necesario.
    <br>
    Para los empleados ya registrados, tienen la sección "Empleados" donde podrán iniciar sesión y editar sus propios perfiles también.
    <br>
    <br>
    Agradecemos su visita a nuestra página y esperamos que tengan una grata experiencia y estamos atentos a cualquier sugerencia.
</p><br>


<div class="boton">
<a class="btn btn-danger mt-1"  href="{% url 'inicio' %}">Volver al Inicio</a>
</div>

        </div>

</div> 


{% endblock content %}