{% extends 'app_menu/base.html' %}
<!-- Esto es solo para probar, después sacalo o cambialo-->



<!--Bloque de la Pestaña de la Página-->
{% block title %}
Producto
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Confirmación Delete
{% endblock title_menu %}



<!--Bloque de Contenido de la página-->
{% block content %}

<div class="row mt-5">

    <div class="col-sm-6 col-md-4"></div>
        
        <div class="col-sm-6 col-md-4">
        

            <a type="button" href = "{% url 'producto-list' %}"class="btn btn-danger mt-1" >Lista de productos</a>

            <form method="post">

                {% csrf_token %}

                <p>¿Está seguro que desea borrar "{{producto.nombre}}"?</p>

                {{ form }}

                <input type="submit" class="btn btn-danger mt-1" value="Confirmar">

            </form>

        </div>
        
</div>


{% endblock content %}