{% extends 'app_menu/base.html' %}

{% block content %}

<div class="row mt-5">

    <div class="col-sm-6 col-md-4"></div>
        
        <div class="col-sm-6 col-md-3">

<a href="{% url 'edicion-menu' %}"class="btn btn-danger mt-1">Regresar a la edición de menu</a>
<a href="{% url 'user-update' user.id %}"class="btn btn-danger mt-1">Editar Perfil</a>

<ul>
    <li>Nombre: {{object.first_name}}</li>
    <li>Apellido: {{object.last_name}}</li>
    <li>email: {{object.email}} </li>
    <li>Nombre de Usuario: {{object.username}}</li>
</ul>

        
    </div>
        
</div>


{% endblock content %}